{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>





    <div style="left:0;width:100%" id="SITE_HEADERscreenWidthBackground" class="hc1screenWidthBackground"></div>
    <div id="SITE_HEADERcenteredContent" class="hc1centeredContent">
        <div style="margin-left:calc((100% - 50%) / 2);width:50%" id="SITE_HEADERbg" class="hc1bg"></div>
        <div id="SITE_HEADERinlineContent" class="hc1inlineContent">
            <style id="SITE_HEADER-content-area-styles">
            #comp-ifgo6vod {
            margin-left: calc((100% - 50%) * 0.5);
            }
            #comp-ig7pjqwh {
            margin-left: calc((100% - 50%) * 0.5);
            }
         </style>
            <section style="left: 0px; width: 100%; min-width: 980px; top: 0px; height: 523px; position: absolute; margin-left: 0px;" data-responsive="true" class="strc1" id="comp-ifgo6vod">
                <div style="position: absolute; top: 0px; width: calc(100% + 0px); height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; min-width: 980px; clip: rect(0px, 1841px, 523px, 0px);" data-page-id="masterPage" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-media-video-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="false" class="strc1balata" id="comp-ifgo6vodbalata">
                    <div style="width:100%;height:100%;background-color:transparent;position:absolute" class="bgColor" id="comp-ifgo6vodbalatabgcolor">
                        <div data-background-image="" style="width:100%;height:100%;position:absolute" id="comp-ifgo6vodbalatabgcoloroverlay" class="bgColoroverlay"></div>
                    </div>
                </div>
                <div style="position:relative;width:calc(100% - 0px);min-width:980px" id="comp-ifgo6vodinlineContent" class="strc1inlineContent">
                    <div style="position: relative; flex: 980 1 0%; margin-left: 0px; min-width: 980px; top: 0px; margin-top: 0px; margin-bottom: 0px; height: 523px;" data-content-width="980" class="strc1" id="mediair1svk8m1">
                        <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; clip: rect(0px, 1841px, 523px, 0px);" data-page-id="masterPage" data-enable-video="true" data-bg-effect-name="BackgroundParallax" data-media-type="Image" data-media-video-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="true" class="strc1balata" id="mediair1svk8m1balata">
                            <div style="width:100%;height:100%;background-color:rgba(250, 250, 250, 1);top:0;position:fixed" class="bgColor" id="mediair1svk8m1balatabgcolor">
                                <div data-background-image="" style="width:100%;height:100%;position:absolute" id="mediair1svk8m1balatabgcoloroverlay" class="bgColoroverlay"></div>
                            </div>
                            <div style="position: fixed; pointer-events: none; top: 0px; width: 1841px; height: 951px; left: 0px;" data-effect="BackgroundParallax" data-fitting="fill" data-align="center" class="bgMedia" id="mediair1svk8m1balatamedia">
                                <div data-type="image" data-style="" class="bgImage" id="mediair1svk8m1balatamediacontent" style="position: relative; width: 1841px; height: 951px; transform: translate3d(0px, 0px, 0px);"><img id="mediair1svk8m1balatamediacontentimage" alt="" data-type="image" style="width: 1841px; height: 951px; object-fit: cover;" src="assets/img/header.jpg"></div>
                            </div>
                        </div>
                        <div style="width:100%;position:absolute;top:0;bottom:0" id="mediair1svk8m1inlineContent" class="strc1inlineContent">
                            <style id="mediair1svk8m1-content-area-styles">
                        #ic6bk3nw {
                        margin-left: calc((37% - 50%) * 0.5);
                        }
                     </style>
                            <div data-packed="true" style="top: 172px; left: 1px; width: 50%; position: absolute;" class="txtNew" id="ic6bk3nw">
                                <h1 class="font_0" style="line-height:0.9em; text-align:center; font-size:95px; font: normal normal normal 55px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;"><span style="font-size:95px;">Silence</span></h1>
                            </div>
                            <style type="text/css" data-styleid="txtNew">.txtNew {word-wrap:break-word;text-align:start;pointer-events:none;}
                        .txtNew_override-left * {text-align:left !important;}
                        .txtNew_override-right * {text-align:right !important;}
                        .txtNew_override-center * {text-align:center !important;}
                        .txtNew_override-justify * {text-align:justify !important;}
                        .txtNew > * {pointer-events:auto;}
                        .txtNew li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
                        .txtNew ol,.txtNew ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
                        .txtNew ul {list-style-type:disc;}
                        .txtNew ol {list-style-type:decimal;}
                        .txtNew ul ul,.txtNew ol ul {list-style-type:circle;}
                        .txtNew ul ul ul,.txtNew ol ul ul {list-style-type:square;}
                        .txtNew ul ol ul,.txtNew ol ol ul {list-style-type:square;}
                        .txtNew ul[dir="rtl"],.txtNew ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
                        .txtNew ul[dir="rtl"] ul,.txtNew ul[dir="rtl"] ol,.txtNew ol[dir="rtl"] ul,.txtNew ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
                        .txtNew p {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h1 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h2 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h3 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h4 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h5 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew h6 {margin:0;line-height:normal;letter-spacing:normal;}
                        .txtNew a {color:inherit;}
                     </style>
                        </div>
                    </div>
                    <style type="text/css" data-styleid="strc1">.strc1:not([data-mobile-responsive]) > .strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
                  .strc1[data-mobile-responsive] > .strc1inlineContent {position:relative;}
                  .strc1[data-responsive] {display:-ms-grid;display:grid;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;grid-template-columns:100%;grid-template-rows:1fr;-ms-grid-columns:100%;-ms-grid-rows:1fr;}
                  .strc1[data-responsive] > .strc1inlineContent {display:-webkit-box;display:-webkit-flex;display:flex;}
                  .strc1[data-responsive] > * {position:relative;grid-row-start:1;grid-column-start:1;grid-row-end:2;grid-column-end:2;-ms-grid-row-span:1;-ms-grid-column-span:1;margin:0 auto;}
               </style>
                </div>
            </section>
            <style type="text/css" data-styleid="strc1">.strc1:not([data-mobile-responsive]) > .strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
            .strc1[data-mobile-responsive] > .strc1inlineContent {position:relative;}
            .strc1[data-responsive] {display:-ms-grid;display:grid;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;grid-template-columns:100%;grid-template-rows:1fr;-ms-grid-columns:100%;-ms-grid-rows:1fr;}
            .strc1[data-responsive] > .strc1inlineContent {display:-webkit-box;display:-webkit-flex;display:flex;}
            .strc1[data-responsive] > * {position:relative;grid-row-start:1;grid-column-start:1;grid-row-end:2;grid-column-end:2;-ms-grid-row-span:1;-ms-grid-column-span:1;margin:0 auto;}
         </style>
            <section style="left: 0px; width: 100%; min-width: 980px; top: 0px; height: 33px; position: absolute; margin-left: 0px;" data-responsive="true" class="strc1" id="comp-ig7pjqwh">
                <div style="position: absolute; top: 0px; width: calc(100% + 0px); height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; min-width: 980px; clip: rect(0px, 1841px, 33px, 0px);" data-page-id="masterPage" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-media-video-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="false" class="strc1balata" id="comp-ig7pjqwhbalata">
                    <div style="width:100%;height:100%;background-color:transparent;position:absolute" class="bgColor" id="comp-ig7pjqwhbalatabgcolor">
                        <div data-background-image="" style="width:100%;height:100%;position:absolute" id="comp-ig7pjqwhbalatabgcoloroverlay" class="bgColoroverlay"></div>
                    </div>
                </div>
                <div style="position:relative;width:calc(100% - 0px);min-width:980px" id="comp-ig7pjqwhinlineContent" class="strc1inlineContent">
                    <div style="position: relative; flex: 980 1 0%; margin-left: 0px; min-width: 980px; top: 0px; margin-top: 0px; margin-bottom: 0px; height: 33px;" data-content-width="980" class="strc1" id="mediair1svk8n1">
                        <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; clip: rect(0px, 1841px, 33px, 0px);" data-page-id="masterPage" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-media-video-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="false" class="strc1balata" id="mediair1svk8n1balata">
                            <div style="width:100%;height:100%;background-color:rgba(36, 35, 35, 1);position:absolute" class="bgColor" id="mediair1svk8n1balatabgcolor">
                                <div data-background-image="" style="width:100%;height:100%;position:absolute" id="mediair1svk8n1balatabgcoloroverlay" class="bgColoroverlay"></div>
                            </div>
                        </div>
                        <div style="width:100%;position:absolute;top:0;bottom:0" id="mediair1svk8n1inlineContent" class="strc1inlineContent">
                            <style id="mediair1svk8n1-content-area-styles">
                        #i0xsmzxi {
                        margin-left: calc((100% - 980px) * 0.5);
                        }
                     </style>
                            <nav id="i0xsmzxi" style="top: 6px; left: 1px; width: 50%; height: 23px; position: absolute; margin-left: calc((30% - 50%) * 0.5); overflow-x: visible;" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" dir="ltr" class="style-inrghfhy" data-state="center notMobile" data-dropmode="dropDown">
                                <ul style="text-align:center" aria-label="Site navigation" role="navigation" id="i0xsmzxiitemsContainer" class="style-inrghfhyitemsContainer">
                                    <li data-direction="ltr" data-listposition="center" data-data-id="dataItem-jav5m7l2" class="style-inrghfhyrepeaterButton" data-state="menu selected idle link notMobile" id="i0xsmzxi0" data-original-gap-between-text-and-btn="10" style="width: 81px; height: 23px; position: relative; box-sizing: border-box; overflow: visible;" aria-hidden="false">
                                        <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/" target="_self" id="i0xsmzxi0linkElement" class="style-inrghfhyrepeaterButtonlinkElement">
                                            <div class="style-inrghfhyrepeaterButton_gapper">
                                                <div style="text-align:center" id="i0xsmzxi0bg" class="style-inrghfhyrepeaterButtonbg">
                                                    <p style="text-align: center; line-height: 23px;" id="i0xsmzxi0label" class="style-inrghfhyrepeaterButtonlabel">Главная</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-direction="ltr" data-listposition="center" data-data-id="dataItem-jkdv60cn" class="style-inrghfhyrepeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi1" data-original-gap-between-text-and-btn="10" style="width: 153px; height: 23px; position: relative; box-sizing: border-box; overflow: visible;" aria-hidden="false">
                                        <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/write" target="_self" id="i0xsmzxi1linkElement" class="style-inrghfhyrepeaterButtonlinkElement">
                                            <div class="style-inrghfhyrepeaterButton_gapper">
                                                <div style="text-align:center" id="i0xsmzxi1bg" class="style-inrghfhyrepeaterButtonbg">
                                                    <p style="text-align: center; line-height: 23px;" id="i0xsmzxi1label" class="style-inrghfhyrepeaterButtonlabel">Добавить историю</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-direction="ltr" data-listposition="center" data-data-id="dataItem-jkdv6kyq" class="style-inrghfhyrepeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi2" data-original-gap-between-text-and-btn="10" style="width: 93px; height: 23px; position: relative; box-sizing: border-box; overflow: visible;" aria-hidden="false">
                                        <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/contacts" target="_self" id="i0xsmzxi2linkElement" class="style-inrghfhyrepeaterButtonlinkElement">
                                            <div class="style-inrghfhyrepeaterButton_gapper">
                                                <div style="text-align:center" id="i0xsmzxi2bg" class="style-inrghfhyrepeaterButtonbg">
                                                    <p style="text-align: center; line-height: 23px;" id="i0xsmzxi2label" class="style-inrghfhyrepeaterButtonlabel">Контакты</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-listposition="center" class="style-inrghfhyrepeaterButton" data-state="menu  idle header notMobile" id="i0xsmzxi__more__" data-original-gap-between-text-and-btn="10" style="height: 0px; overflow: hidden; position: absolute;" aria-hidden="true">
                                        <a role="button" tabindex="-1" aria-haspopup="true" data-listposition="center" id="i0xsmzxi__more__linkElement" class="style-inrghfhyrepeaterButtonlinkElement">
                                            <div class="style-inrghfhyrepeaterButton_gapper">
                                                <div style="text-align:center" id="i0xsmzxi__more__bg" class="style-inrghfhyrepeaterButtonbg">
                                                    <p style="text-align:center" id="i0xsmzxi__more__label" class="style-inrghfhyrepeaterButtonlabel">More</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div id="i0xsmzximoreButton" class="style-inrghfhymoreButton"></div>
                                <nav style="visibility:hidden" data-drophposition="" data-dropalign="center" id="i0xsmzxidropWrapper" class="style-inrghfhydropWrapper">
                                    <ul style="visibility:hidden" id="i0xsmzximoreContainer" class="style-inrghfhymoreContainer"></ul>
                                </nav>
                            </nav>
                            <style type="text/css" data-styleid="style-inrghfhy">.style-inrghfhyitemsContainer {width:calc(100% - 0px);height:calc(100% - 0px);white-space:nowrap;display:inline-block;overflow:visible;position:relative;}
                        .style-inrghfhymoreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;background-color:rgba(48, 45, 45, 1);border-radius:0;  }
                        .style-inrghfhydropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;}
                        .style-inrghfhydropWrapper[data-dropMode="dropUp"] {margin-top:0;margin-bottom:7px;}
                        .style-inrghfhyrepeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;cursor:pointer;font:normal normal normal 15px/1.4em 'times new roman',times,serif ;}
                        .style-inrghfhyrepeaterButton[data-state~="header"] a,.style-inrghfhyrepeaterButton[data-state~="header"] div {cursor:default !important;}
                        .style-inrghfhyrepeaterButtonlinkElement {display:inline-block;height:100%;width:100%;}
                        .style-inrghfhyrepeaterButton_gapper {padding:0 5px;}
                        .style-inrghfhyrepeaterButtonlabel {display:inline-block;padding:0 10px;color:#FFFFFF;transition:color 0.4s ease 0s;}
                        .style-inrghfhyrepeaterButton[data-state~="drop"] {width:100%;display:block;}
                        .style-inrghfhyrepeaterButton[data-state~="drop"] .style-inrghfhyrepeaterButtonlabel {padding:0 .5em;}
                        .style-inrghfhyrepeaterButton[data-state~="over"] .style-inrghfhyrepeaterButtonlabel,.style-inrghfhyrepeaterButton[data-preview~="hover"] .style-inrghfhyrepeaterButtonlabel {color:#AAAAAA;transition:color 0.4s ease 0s;}
                        .style-inrghfhyrepeaterButton[data-state~="selected"] .style-inrghfhyrepeaterButtonlabel,.style-inrghfhyrepeaterButton[data-preview~="active"] .style-inrghfhyrepeaterButtonlabel {color:#AAAAAA;transition:color 0.4s ease 0s;}
                     </style>
                        </div>
                    </div>
                    <style type="text/css" data-styleid="strc1">.strc1:not([data-mobile-responsive]) > .strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
                  .strc1[data-mobile-responsive] > .strc1inlineContent {position:relative;}
                  .strc1[data-responsive] {display:-ms-grid;display:grid;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;grid-template-columns:100%;grid-template-rows:1fr;-ms-grid-columns:100%;-ms-grid-rows:1fr;}
                  .strc1[data-responsive] > .strc1inlineContent {display:-webkit-box;display:-webkit-flex;display:flex;}
                  .strc1[data-responsive] > * {position:relative;grid-row-start:1;grid-column-start:1;grid-row-end:2;grid-column-end:2;-ms-grid-row-span:1;-ms-grid-column-span:1;margin:0 auto;}
               </style>
                </div>
            </section>
            <style type="text/css" data-styleid="strc1">.strc1:not([data-mobile-responsive]) > .strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
            .strc1[data-mobile-responsive] > .strc1inlineContent {position:relative;}
            .strc1[data-responsive] {display:-ms-grid;display:grid;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;grid-template-columns:100%;grid-template-rows:1fr;-ms-grid-columns:100%;-ms-grid-rows:1fr;}
            .strc1[data-responsive] > .strc1inlineContent {display:-webkit-box;display:-webkit-flex;display:flex;}
            .strc1[data-responsive] > * {position:relative;grid-row-start:1;grid-column-start:1;grid-row-end:2;grid-column-end:2;-ms-grid-row-span:1;-ms-grid-column-span:1;margin:0 auto;}
         </style>
        </div>
    </div>















    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title style="color:yellow;">Silence</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="assets/css/app.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>


    <link href="assets/css/bubbles.css" rel="stylesheet">
    <script type="text/JavaScript" src="assets/js/rounded_corners.inc.js"></script>
    <script type="text/JavaScript">
	  window.onload = function() {
	      settings = {
	          tl: { radius: 20 },
	          tr: { radius: 20 },
	          bl: { radius: 20 },
	          br: { radius: 20 },
	          antiAlias: true,
	          autoPad: true
	      }
	      var myBoxObject = new curvyCorners(settings, "rounded");
	      myBoxObject.applyCornersToAll();
	  }
	</script>

</head>

<body>

<!--<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Silence</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/write"></a></li>
               &lt;!&ndash; <li class="active"><a href="/">Home</a></li>&ndash;&gt;
                <li><a href="/write">Add Post</a></li>
            </ul>
        </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
    </div>
</div>-->

{{ end }}
